%h1 Topics For #{@course.name}

%table
  %tbody
    - @topics.each do |topic|
      %tr
        %td= topic.name
        %td= link_to 'Try Problems', topic_problems_path(:id => topic.id)

= link_to 'Create New Topic', new_topic_path(:id => @course.id)
.row
= link_to 'Go Back', courses_path
